//COLORS

//PRIMARY
$color-primary: #2ecc71;

$color-primary-light: #58d68d;
$color-primary-lighter: #a9dfbf;
$color-primary-ultra-lighter: #e9f7ef;

$color-primary-dark: #239b56;
$color-primary-darker: #1e8449;

//SECONDARY
$color-secondary: #3498db;

$color-secondary-light: #5dade2;
$color-secondary-lighter: #aed6f1;

$color-secondary-dark: #2e86c1;
$color-secondary-darker: #1f618d;

//GREYS
$color-grey-light-1: #f8f9fa;
$color-grey-light-1-5: #f4f6f7;
$color-grey-light-2: #e9ecef;
$color-grey-light-3: #ced4da;
$color-grey-light-4: #adb5bd;

$color-grey-dark-1: #6c757d;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;

//FONTS
$font-sans-serif: "Inter", sans-serif;
$font-serif: "Bee Serif", serif;

//BORDER RADIUS
$border-radius-big: 2.4rem;
